{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Kloset</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{% url 'homepage' %}">
                <img src="{% static 'images/Logo_sem_fundo.png' %}" alt="Logo da Loja">
            </a>
        </div>

        <div class="social-media">
            <a href="https://wa.me/SEU_NUMERO_WHATSAPP" target="_blank">
                <img src="{% static 'images/logo_whats.png' %}" alt="WhatsApp">
            </a>
            <a href="https://www.instagram.com/SEU_PERFIL_INSTAGRAM/" target="_blank">
                <img src="{% static 'images/logo_insta.png' %}" alt="Instagram">
            </a>
        </div>
        
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p>&copy; Vip Tecnologia - 2025</p>
      </footer>

</body>

</html>
